@page "/bill/{id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper
<h1>Edit Bill</h1>

<h6>@message</h6>
<form onsubmit="@Post">
<table>
	<tbody>
		<tr>
			<td>
				<input type="number" bind="@model.Id" asp-for="Id" hidden/>
			</td>
		</tr>
		<tr>
			<td>
				<label>PersonId</label>
				<select bind="@model.PersonId">
					<option value="">Choose value</option>
					@foreach(var option in optionspersonid){
						<option value="@option.Key">@option.Value</option>
					}
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Date</label>
				<input type="date" bind="@model.Date" format-value="yyyy-MM-dd" asp-for="Date" />
			</td>
		</tr>
		<tr>
			<td>
				<label>StoreId</label>
				<select bind="@model.StoreId">
					<option value="">Choose value</option>
					@foreach(var option in optionsstoreid){
						<option value="@option.Key">@option.Value</option>
					}
				</select>
			</td>
		</tr>
	</tbody>
</table>
	<button type="submit" class="btn btn - success">Save</button>
</form>

@functions{
	[Parameter]
	private string Id {get; set;}

	Master_v2.Shared.Models.Bill model = new Master_v2.Shared.Models.Bill();
	List<Master_v2.Shared.Models.SelectListItem> optionspersonid = new List<Master_v2.Shared.Models.SelectListItem>();
	List<Master_v2.Shared.Models.SelectListItem> optionsstoreid = new List<Master_v2.Shared.Models.SelectListItem>();
	string message = "";
	protected override async Task OnInitAsync(){
		model=await Http.GetJsonAsync<Master_v2.Shared.Models.Bill>("/api/bill/"+Id);
		optionspersonid = await Http.GetJsonAsync<List<Master_v2.Shared.Models.SelectListItem>>("/api/bills/personlastname");
		optionsstoreid = await Http.GetJsonAsync<List<Master_v2.Shared.Models.SelectListItem>>("/api/bills/storename");
	}
	public async Task Post(){
		try{
			if(model.PersonId == 0 ||model.StoreId == 0 ){
				message="Please, fill all fields";
			}
			else if(model.Id==0){
				await Http.SendJsonAsync(HttpMethod.Post, "/api/bill/create", model);
				uriHelper.NavigateTo("/bills");
			}
			else{
				await Http.SendJsonAsync(HttpMethod.Post, "/api/bill/edit",model);
			uriHelper.NavigateTo("/bills");
			}
		}
		catch(Exception e){
			Console.WriteLine(e.Message);
			throw;
		}
	}
}
