@*
	put routes for page on top with @page /{wishedRoute}
*@

<p hidden><span> Id</span> @Person.Id</p>
<p ><span> Name</span> @Person.Name</p>
<p ><span> LastName</span> @Person.LastName</p>
<p ><span> OIB</span> @Person.OIB</p>
<p ><span> BirthDate</span> @Person.BirthDate</p>

@functions{

}
