@using Master_v2.Shared.Models
@*
	put routes for page on top with @page /{wishedRoute}
*@

<p hidden><span> Id</span> @person.Id</p>
<p ><span> Name</span> @person.Name</p>
<p ><span> LastName</span> @person.LastName</p>
<p ><span> OIB</span> @person.OIB</p>
<p ><span> BirthDate</span> @person.BirthDate</p>

@functions{
	[Parameter]
	Person person{get; set;}
}
