@page "/articles"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper

@if (models==null) { 
	 <p><em>Loading...</em></p> 
}
 else {
	@if (AuthorizationStore.checkWritePermissions("article")){
		<button onclick="@Create">Create</button>
	}
<table class="table">
	<thead>
		<tr>
			<td hidden> Id</td>
			<td> Name</td>
		</tr>
	</thead>
	<tbody>
	@foreach(var entity in @models){
		<tr>
			<td  hidden> @entity.Id</td>
			<td ><a href="/articles/@entity.Id"> @entity.Name</a></td>
			@if(AuthorizationStore.checkWritePermissions("article"))
			{
				<td><button onclick="@(e=>Edit(entity.Id))">Edit</button> |<button onclick="@(e=>Delete(entity.Id))">Delete</button></td>
			}
		</tr>
	}
	</tbody>
</table>
}
@functions{


	List<Master_v2.Shared.Models.Article> models;
	protected override async Task OnInitAsync()
	{ 
		if (!AuthorizationStore.checkReadPermission("article")) uriHelper.NavigateTo(" / ");
		models=await Http.GetJsonAsync<List<Master_v2.Shared.Models.Article>>("/api/articles");
	}
	void Create(){
		uriHelper.NavigateTo("/article/0");
	}
	void Edit(int id){
		uriHelper.NavigateTo("/article/"+id);
	}
	void Delete(int id){
		uriHelper.NavigateTo("/article/delete/"+id);
	}

}
