@page "/persons/{id}"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper
@*
	put routes for page on top with @page /{wishedRoute}
*@

<p hidden><span> Id</span> @model.Id</p>
<p ><span> Name</span> @model.Name</p>
<p ><span> LastName</span> @model.LastName</p>
<p ><span> Address</span> @model.Address</p>
<p ><span> Oib</span> @model.Oib</p>
<p ><span> BirthDate</span> @model.BirthDate</p>
<p ><span> Gender</span> @model.Gender</p>
<p ><span> IsActive</span> @model.IsActive</p>

<h3>Stores</h3>

<table>
	<thead>
		<tr>
			<td hidden> Id</td>
			<td> Name</td>
			<td> Address</td>
		</tr>
	</thead>
	<tbody>
	@foreach(var entity in @model.Store){
		<tr>
			<td  hidden> @entity.Id</td>
			<td > @entity.Name</td>
			<td > @entity.Address</td>
			<td><button onclick="@(e=>Edit(entity.Id, "Store"))">Edit</button> |<button onclick="@(e=>Delete(entity.Id, "Store"))">Delete</button></td>
		</tr>
	}
	</tbody>
</table>

<h3>Bills</h3>

<table>
	<thead>
		<tr>
			<td hidden> Id</td>
			<td> PersonId</td>
			<td> Date</td>
		</tr>
	</thead>
	<tbody>
	@foreach(var entity in @model.Bill){
		<tr>
			<td  hidden> @entity.Id</td>
			<td > @entity.PersonId</td>
			<td > @entity.Date</td>
			<td><button onclick="@(e=>Edit(entity.Id, "Bill"))">Edit</button> |<button onclick="@(e=>Delete(entity.Id, "Bill"))">Delete</button></td>
		</tr>
	}
	</tbody>
</table>

@functions{
    [Parameter]
    private string Id {get; set;}

    Master_v2.Shared.Models.Person model = new Master_v2.Shared.Models.Person();
    protected override async Task OnInitAsync(){
        if (!AuthorizationStore.checkReadPermission("person")) uriHelper.NavigateTo("/");
        model = await Http.GetJsonAsync<Master_v2.Shared.Models.Person>("/api/person/"+Id);
        model.Store = await Http.GetJsonAsync<List<Master_v2.Shared.Models.Store>>("/api/person/store/"+Id);
        model.Bill = await Http.GetJsonAsync<List<Master_v2.Shared.Models.Bill>>("/api/person/bill/"+Id);
    }
    void Edit(int id, string table){
        uriHelper.NavigateTo("/"+table.ToLower()+"/"+id);
    }
    void Delete(int id, string table){
        uriHelper.NavigateTo("/" + table.ToLower() + "/delete/"+id);
    }
}
